body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* color: #a9a9a9; */
  text-align: center;
}

.active {
  opacity: 1;
  /* animation-name: transitionIn;
  animation-fill-mode: forwards;
  animation-duration: 1s; */
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
  color: #fcfcfc;
}

p {
  color: #778da9;
  font-size: 1.1em;
  line-height: 2em;
}

h1 {
  color: #1b263b;
  font-weight: 700;
  font-size: 2em;
  /* transform: translateY(-20px); */
  padding-top: 0.5em;
  /* opacity: 0; */
}

h2 {
  color: #415a77;
  font-size: 1.1em;
  padding-bottom: 1em;
}

a {
  padding: 25px;
  text-decoration: none;
  color: #fcfcfc;
}
a:visited {
  color: #fcfcfc;
  text-decoration: none;
}

li.languages a {
  font-size: 0.5em;
}

nav {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  height: 2.5em;
  width: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  text-decoration: none;
  transition: all 0.5s ease-out;
  z-index: 1;
}

nav.scroll {
  background-color: #ffffff;
  box-shadow: 0px 0.1px 5px #777;
}

nav.scroll a {
  color: #415a77;
}

.info {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.top {
  width: 100%;
  height: 90vh;
  background: no-repeat url("./imgs/firstpage.jpeg");
  background-size: 100%;
  background-position: 0% 55%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftfloat {
  padding-right: 10em;
}

.leftfloat h1 {
  font-size: 3.5em;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 0.4em;
  color: #fcfcfc;
  text-shadow: #6d6d6d 2px 2px 7px;
  text-align: left;
}

.leftfloat h2 {
  letter-spacing: 1px;
  text-shadow: #6d6d6d 1px 0 7px;
  padding: 1em 0;
  color: #fcfcfc;
  font-weight: 400;
  border-bottom: 1px solid #eeeeee;
}

.icons {
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}
.icons a:hover {
  padding-bottom: 10px;
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6a82fb,
    #fc5c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: 0 0.2em 0.4em -0.4em #bdbdbd;
  transform: translateY(-0.25m);
  cursor: pointer;
}
.introhead {
  border: 4px solid #415a77;
  border-radius: 25px;
  box-shadow: 0 0.4em 0.4em 0.1em #bdbdbd;
  width: 65%;
  margin: 0 auto;
  padding: 4em auto;
  /* transform: translateY(-30%);
  z-index: -1; */
  /* background: #415a77; */
}

.aboutme {
  width: 60%;
  margin: 0 auto;
}
.about,
.myproject {
  height: 85vh;
  padding: 2em 10em;
}

label {
  display: inline;
  color: #cb997e;
  font-weight: 700;
}

.myprojectleft div {
  border: #6d6d6d solid 1px;
}
.contacts {
  height: 40vh;
  display: flex;
  flex-direction: row;
  padding: 0 8em;
  justify-content: space-around;
  background: center no-repeat url("./imgs/contacts.png");
  background-size: 50%;
  align-items: center;
}

.contacts p {
  color: #a9a9a9;
  font-size: 1em;
  font-weight: 700;
  text-shadow: #595858 0 0.5px 0.5px;
}

footer {
  height: 15vh;
  padding: 0 8em;
  background: #e0e1dd;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  color: #a9a9a9;
  padding: 1em 1.5em;
  border: 2px solid #a9a9a9;
  transition: all 0.25s;
}

button:hover {
  color: rgb(242, 159, 16);
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  border-radius: 20px;
  transform: translateY(-0.25m);
  cursor: pointer;
}
@media (max-width: 900px) {
  .top {
    background-position: initial;
    background-size: 200%;
    height: 95vh;
  }
}

.revealme {
  transition: all 0.7s ease-out;
  opacity: 0;
}
.active.revealme {
  opacity: 1;
}
.revealme.fromright {
  transform: translateX(1%);
}

.active.revealme.fromright {
  opacity: 1;
  transform: translateX(0);
}

.revealme {
  transition: all 0.7s ease-out;
  opacity: 0;
}
.active.revealme {
  opacity: 1;
}
.revealme.fromleft {
  transform: translateX(-1%);
}

.active.revealme.fromleft {
  opacity: 1;
  transform: translateX(0);
}
