body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* color: #a9a9a9; */
  text-align: center;
  width: 100%;
}

h1 {
  color: #1b263b;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  color: #415a77;
  font-size: 1.1em;
}

p {
  /* color: #778da9; */
  color: #ead2ac;
  font-size: 1.1em;
  line-height: 2em;
}

.about,
.skill {
  padding: 0;
  height: 80vh;
}

/* =====================================
nav */
ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
  color: #9ad1d4;
}

a {
  padding: 25px;
  text-decoration: none;
  color: #07393c;
}
a:visited {
  color: #07393c;
  text-decoration: none;
}

li.languages a {
  font-size: 0.5em;
}

nav {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  height: 2.6em;
  width: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  text-decoration: none;
  transition: all 0.5s ease-out;
  z-index: 1;
}

nav.scroll {
  background-color: #ffffff;
  box-shadow: 0px 0.1px 5px #777;
}

nav.scroll a {
  padding-bottom: 16px;
  color: #415a77;
}

/* ==============================================
top */

.info {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.top {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rightfloat {
  background: no-repeat url("./imgs/firstpage.jpeg");
  background-size: 110%;
  width: 100%;
  height: 100%;
  background-position: 0% 55%;
}

.leftfloat {
  padding-right: 10em;
  margin-left: 4em;
}

.leftfloat h1 {
  font-size: 3.5em;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 0.4em;
  color: #fcfcfc;
  text-shadow: #6d6d6d 2px 2px 7px;
  text-align: left;
}

.leftfloat h2 {
  letter-spacing: 1px;
  text-shadow: #6d6d6d 1px 0 7px;
  padding: 1em 0;
  color: #fcfcfc;
  font-weight: 400;
  border-bottom: 1px solid #eeeeee;
}

.icons {
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}
.icons a:hover {
  padding-bottom: 10px;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: 0 0.2em 0.4em -0.4em #bdbdbd;
  transform: translateY(-0.25m);
  cursor: pointer;
}

/* ======================================
about */

.aboutleft {
  width: 45%;
  height: 100%;
  float: left;
  align-items: center;
  padding-top: 6em;
}
.aboutright {
  width: 50%;
  height: 110%;
  float: right;
  background: #4281a4;
  z-index: -1;
  transform: scaleX(1.2) translateY(-15%) translateX(-9%);
  position: absolute right;
}
.aboutfront {
  width: 40%;
  z-index: 0;
  position: absolute;
  right: 2em;
  margin-top: 4em;
  padding-right: 4em;
}

/* ======================================
skill */

.skillright {
  width: 40%;
  position: absolute;
  right: 2em;
  margin-top: 5em;
}
.skillleft {
  width: 60%;
  height: 70%;
  float: left;
  background: #4281a4;
  z-index: -1;
  transform: scaleY(1.4) translateY(-5%);
  position: absolute;
}
.skillfront {
  position: absolute;
  width: 50%;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ========================================
project */

.myproject {
  height: 80vh;
  padding: 2em 10em;
}
/* ========================================== */
/* comment */
.message {
  justify-items: center;

  height: 70vh;
}
.letmeknow {
  margin: auto 10%;
}
form {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: 30% 40%;
  grid-template-rows: 30% 30% 30% 50%;
  grid-row: 5 / span 2;
  grid-column: 2 / span 2;
  grid-row-gap: 1px;
  grid-column-gap: 9px;
}
label {
  color: #07393c;
  font-size: 1.5em;
  display: inline;
}

/* =======================================
contacts */

.contacts {
  height: 40vh;
  display: flex;
  flex-direction: row;
  padding: 0 8em;
  justify-content: space-around;
  background: center no-repeat url("./imgs/contacts.png");
  background-size: 50%;
  align-items: center;
}

.contacts p {
  color: #415a77;
  font-size: 1em;
  font-weight: 700;
  text-shadow: #5686ff 0 0.5px 0.5px;
}
/* ========================================
footer */

footer {
  height: 15vh;
  padding: 0 8em;
  background: #4281a4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================================
button */
button {
  background: none;
  color: #a9a9a9;
  padding: 1em 1.5em;
  border: 2px solid #a9a9a9;
  transition: all 0.25s;
  margin-top: 3em;
}

button:hover {
  color: rgb(242, 159, 16);
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  border-radius: 20px;
  transform: translateY(-0.25px);
  cursor: pointer;
}
/* ========================================
img */
img {
  width: 5em;
  height: 5em;
  margin: 1em;
  padding: 1em 2em;
  border: 3px solid #a9a9a9;
  border-radius: 4px;
  filter: grayscale(80%);
  transition: all 0.3s ease-in;
}
img:hover {
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  border-radius: 4px;
  transform: translateY(-1px);
  cursor: pointer;
  filter: none;
}

@media (max-width: 900px) {
  .top {
    background-position: initial;
    background-size: 200%;
    height: 95vh;
  }
}
/* =================================================
reveal */
.active {
  opacity: 1;
}

.revealme {
  transition: all 0.7s ease-out;
  opacity: 0;
}
.active.revealme {
  opacity: 1;
}
.revealme.fromright {
  transform: translateX(1%);
}

.active.revealme.fromright {
  opacity: 1;
  transform: translateX(0);
}

.revealme {
  transition: all 0.7s ease-out;
  opacity: 0;
}
.active.revealme {
  opacity: 1;
}
.revealme.fromleft {
  transform: translateX(-1%);
}

.active.revealme.fromleft {
  opacity: 1;
  transform: translateX(0);
}
